# selfbot
git+https://github.com/dolfies/discord.py-self

# if you want to use a bot account use this:
# bot
# discord.py

# gpt libraries
python-tgpt
g4f

# async fix
nest-asyncio

# anti-token leak
python-dotenv

# api requests
httpx
flask[async]
